@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
    background-color: #f4f6f9;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.loader {
    font-size: 20px;
    animation: l1 1s linear infinite alternate;
    color: #97ba79;
}

.loader:before {
    content: "Loading..."
}

@keyframes l1 {
    to {
        opacity: 0
    }
}